#main {
    background-color: #c6c8ca;
}
#back
{
    background-color: lightblue;

}

h1 {
    font-size: 50px;
}

.image{
    width: 700px;
    height: 400px;
    align-items: center;
    margin-left: 450px;
}

.d{
    text-align: justify;
    font-size: 30px;
    align-content: center;
    background-color: linen;
    color: cornflowerblue;
    margin-left: 250px;
    margin-right: 250px;
}
.title {
    color: red;
    font: bold;:
    font-size: 30px;
}